<div style="padding:10px 60px 20px 60px;width:200px;height:100px;">
    <table cellpadding="5">
        <tr>
            <td>汇总周期:</td>
            <td>
                 <select class="easyui-combobox" style="height:20px;width:80px;" data-options="editable:false" data-index="summaryType" data-field="summaryType" data-property="summaryType" >
                    <option value="year">按年</option>
                    <option value="monty">按月</option>
                    <option value="day">按日</option>
                </select>
            </td>
        </tr>
    </table>
</div>
<div style="text-align:center;padding-bottom:20px;">
    <a href="javascript:void(0)" data-index="run" iconCls="icon-ok" class="easyui-linkbutton" style="width:100px;">运行</a>
    <a href="javascript:void(0)" data-index="cancel" iconCls="icon-undo" class="easyui-linkbutton" style="width:100px;">取消</a>
</div>
<script language="javascript" src="modules/controller/SummaryReport.js" type="text/javascript" ></script>
